@import '~@angular/material/theming';
@include mat-core();
$custom-primary: mat-palette($mat-deep-orange, 600);
$custom-accent: mat-palette($mat-green, A200, A100, A400);
$custom-warn:mat-palette($mat-red);
$custom-theme:mat-light-theme($custom-primary, $custom-accent, $custom-warn);
$custom-theme-dark:mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme-dark);
.theme-dark {
    @include angular-material-theme($custom-theme-dark);
}

.theme-light {
    @include angular-material-theme($custom-theme);
}

$alt-primary:mat-palette($mat-pink);
$alt-accent:mat-palette($mat-blue, 200);
$alt-theme:mat-dark-theme($alt-primary, $alt-accent);
.alternative {
    @include angular-material-theme($alt-theme);
}

$dark-primary: mat-palette($mat-grey, A600);
$dark-accent: mat-palette($mat-yellow, A200);
$dark-warn:mat-palette($mat-red);
$dark-theme:mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark {
    @include angular-material-theme($dark-theme);
}

$blue-primary: mat-palette($mat-indigo, 600);
$blue-accent: mat-palette($mat-pink, A200);
$blue-warn:mat-palette($mat-red);
$blue-theme:mat-light-theme($blue-primary, $blue-accent, $blue-warn);
.blue {
    @include angular-material-theme($blue-theme);
}

$green-primary: mat-palette($mat-green, 600);
$green-accent: mat-palette($mat-indigo, A200);
$green-warn:mat-palette($mat-red);
$green-theme:mat-light-theme($green-primary, $green-accent, $green-warn);
.green {
    @include angular-material-theme($green-theme);
}

.orange {
    @include angular-material-theme($custom-theme);
}